

.bColor{
    background-color: #F7ECDE;
    
}

h2{
    background: linear-gradient(to right, #c38108,
    #ff6b08, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
}
